@keyframes up {
    from {
        height: var(--navigation-height);
        opacity: 1;
    }

    to {
        height: 0;
        opacity: 0;
    }
}

@keyframes down {

    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: var(--navigation-height);
        opacity: 1;
    }
}