:root {
    --navigation-height: 100vh;
}

@media screen and (max-width:700px) {
    nav {
        justify-content: space-between;
    }

    #hamburger-menu-trigger {
        display: unset;
        cursor: pointer;
    }

    #hamburger-menu-list {
        position: absolute;
        height: 0;
        opacity: 0;
        background-color: var(--clr-nav-background-solid);
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100%;
    }


}

@media screen and (max-width:882px) {

    /* *section4 */
    .s4--section1 {
        display: none;
    }
}

/* text-size changes according to screen size */
/* mobile design */
@media screen and (max-width:480px) {

    .text-sm {
        font-size: .8rem;
    }

    .text-md {
        font-size: 12px;
    }

    .text-md-2 {
        font-size: 16px;
    }

    .text-lg {
        font-size: 19px;
    }

    .text-lg-15 {
        font-size: 40px;
    }

    .text-lg-2 {
        font-size: 32px;
    }

    .text-x-lg {
        font-size: 40px;
    }
}

@media screen and (max-width:800px) {

    /* tablet design */
    .text-sm {
        font-size: .8rem;
    }

    .text-md {
        font-size: 13px;
    }

    .text-md-2 {
        font-size: 18px;
    }

    .text-lg {
        font-size: 21px;
    }

    .text-lg-15 {
        font-size: 30px;
    }

    .text-lg-2 {
        font-size: 37px;
    }

    .text-x-lg {
        font-size: 48px;
    }
}

/* laptop design */
/* @media screen and (max-width:1024px) {

    .text-sm {
        font-size: .8rem;
    }

    .text-md {
        font-size: 1.2rem;
    }

    .text-md-2 {
        font-size: 1.6rem;
    }

    .text-lg {
        font-size: 2.1rem;
    }

    .text-lg-15 {
        font-size: 3.2rem;
    }

    .text-lg-2 {
        font-size: 4rem;
    }

    .text-x-lg {
        font-size: 5.5rem;
    }
} */

/* desktop design */
/* @media screen and (min-width:1300px) {

    .text-sm {
        font-size: .8rem;
    }

    .text-md {
        font-size: 1.2rem;
    }

    .text-md-2 {
        font-size: 1.6rem;
    }

    .text-lg {
        font-size: 2.1rem;
    }

    .text-lg-15 {
        font-size: 3.2rem;
    }

    .text-lg-2 {
        font-size: 4rem;
    }

    .text-x-lg {
        font-size: 5.5rem;
    }
} */