@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    /* outline: 2px solid lime; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
    font: inherit;
    font-family: Roboto, sans-serif;
    min-width: none;
    max-width: none;
    scroll-behavior: smooth;
    scroll-padding: 65px;
}

body {
    overflow-x: hidden;
}

img {
    width: 100%;
}

.remove-scroll {
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.remove-scroll::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.text-content {
    max-width: 90vw;
    margin: auto;
}

/* icon sizes */
.icon-sm {
    width: 15px;
}

.icon-sm-2 {
    width: 28px;
}

.icon-md {
    width: 39px;
}

.icon-md-2 {
    width: 45px;
}

.icon-lg {
    width: 65px;
}

.icon-lg-2 {
    width: 100px;
}

/* text-case styles */
.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.caps {
    text-transform: capitalize;
}

/* text-sizes */
.text-sm {
    font-size: .8rem;
}

.text-md {
    font-size: 1.2rem;
}

.text-md-2 {
    font-size: 1.6rem;
}

.text-lg {
    font-size: 2.1rem;
}

.text-lg-15 {
    font-size: 3.2rem;
}

.text-lg-2 {
    font-size: 4rem;
}

.text-x-lg {
    font-size: 5.5rem;
}

.bold {
    font-weight: bold;
}

.sec-txt-dy-wd {
    /* secondary text with dynamic width */
    width: 600px;
    min-width: 30vw;
    max-width: 90vw;
}

.secondary-text {
    text-align: center;
    color: gray;
    font-family: Roboto, sans-serif;
}

.hover-inv:hover {
    filter: invert();
}

.gradiant-text {
    /* font-size: 72px; */
    /* background: -webkit-linear-gradient(rgb(255, 53, 53), rgb(44, 146, 241)); */
    background-image: linear-gradient(90deg, #5b72e1, #9647cd 26%, #e240a6 51%, #fd5846 79%, #f75500);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradiant-text-bw {
    /* font-size: 72px; */
    background: -webkit-linear-gradient(#fff, #000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}

.flex-column-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.2rem;
    width: auto;
}

.txt-center {
    text-align: center !important;
}

.txt-left {
    text-align: left !important;
}

.txt-right {
    text-align: right !important;
}

.filter {
    filter: invert();
}

.pointer {
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 100vmax;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}